{{#> main_layout}}
  {{#*inline "head_scripts"}}
  {{/inline}}

  {{#*inline "body"}}
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col text-center">
          <img src="/images/logo-lg.png" class="img-fluid">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <p class="h3">
            <a href="/shares"><i>Shares</i></a>
          </p>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "body_scripts"}}
  {{/inline}}
{{/main_layout}}
